
/*ESTILOS PÁGINA NOTICIAS*/

.noticiasPrincipal{
    background-color: rgb(245, 139, 18);
    width: 80%;
    margin: auto;
    min-height: 500px;
    display: grid;
    grid-row: auto;
}

.contenedorNoticias{
    padding: 50px;
}

.noticiaDestacada{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    min-height: 200px;
    padding: 30px;
}

.noticiasCuadro{
    display: grid;
    grid-template-rows: 30% 70%;
    background-color: rgb(131, 119, 119);
    min-height: 300px;
}

.botones{
    background-color: white;
    margin:5px;
    display:flex;
    flex-direction: row;
}

.noticias{
    padding: 15px;
}

.cuadroNoticias{
    background-color: white;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    height: 180px;
    margin:15px;
}

.noticia{
    width:100%;
    height: 180px;
    display:flex;
    flex-direction: row;
}

.imagenNoticia{
    width: 350px;
    height: 175px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
}

.cajaTitulo{
    width: 30%;
    height: 180px;
    margin-left: 5px;
}

.tituloNoticia{
    font-size: 20px;
    height: 100%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descripcionNoticia{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.cajaBoton{
    width:150px;
    margin:10px;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding:15px;
    border:3px solid  rgb(245, 139, 18);
}

.cajaBoton a{
    text-decoration: none;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imagenBusqueda{
    width: 30px;
    height: 28px;
}

.cajaBusqueda{
    width:700px;
    margin:10px;
    padding-top: 10px;
    display:inline-block;
}

.cajaBusqueda button{
    cursor:pointer;
    margin-left: 2px;
}

.barraBusqueda{
    height: 30px;
    float:left;
    width:80%;
}


.mostrarNoticias{
    background-color: rgb(245, 139, 18);
    color: rgb(0, 0, 0);
    width: 80%;
    height: fit-content;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}

/* FIN ESTILOS NOTICIAS*/


/* ESTILOS PERFIL */
.avatarPerfilUsuario{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    float: left;
}

.contenedor{
    width: 100%; 
    background-color: lightpink;       
}

.nombreusuario{
    font-size: 25px;    
    font-weight: bold;
    float:left;
}

.descripcion{
    font-size: 15px;  
    float:left;
}

.avatarydatos{
    width: 100%;   
    height: 170px;  
    display:grid;
    grid-template-columns: 50% 50%;
}

article{
    height: fit-content;
    width: 100%;
}

.clearfix{
    clear: both;
}

.nId{
    font-size: 20px; 
    font-weight: bold;
    float: right;         
}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.cajaflex{
    float: right; 
    padding-right: 30px;
}

.inbox{        
    font-size: 20px;   
    font-weight: bold;
    float: right; 
}

.imagenJuegoDeseados{
    width: 150px;
    height: 150px;
}

.listadeseados{
    padding-left: 30px;
}

.listadeamigos{
    padding-left: 30px;
}

.nombreamigo{
    padding-left: 30px;
}

.juegolista{
    padding-right: 40px;
}

.amigolista{
    padding-right: 40px;
}
.botonBorrarAmigo{
    padding-left: 150px;
    height: 20px;
    width: 20px;
}

.content{
    background-color: rgb(211, 161, 211);
    color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
    min-height: 500px;
}

/* FIN ESTILOS PERFIL */

/* ESTILOS FOOTER  */

footer {
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: center;
}

/* FIN ESTILOS FOOTER  */




/* ESTILOS FORMULARIO AMIGOS 

.fieldsetAmigos{
	padding: 10px;
}

.contenedorForm{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content:center;
}

/* FIN ESTILOS FORMULARIO AMIGOS */

/* ESTILOS CHAT cogidos de https://www.w3schools.com/howto/howto_css_chat.asp remodelado para nuestra página*/
	
.chat{
	border: 3px solid rgb(60, 118, 156);	
}	
	/* Chat containers */

.mensaje {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
	border-color: #ccc;
	background-color: #ddd;
  }
  
  /* Clear floats */
  .mensaje::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Style images */
  .mensaje img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
  }
  
  /* Style the right image */
  .mensaje img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
  }
  
  /* Style time text */
  .time-right {
	float: right;
	color: #aaa;
  }
  
  /* Style time text */
  .time-left {
	float: left;
	color: #999;
  }

/* FIN ESTILOS CHAT */



/* ESTILOS CABECERA */

.imagenprincipalCabecera{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid gray;                  
}

.containerCabecera{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    height: fit-content;
    justify-content:center;   
}  

.tituloPrincipalCabecera{
    font-size:50px;
    padding-left:20px;
    float:right;
}  

.loginCabecera{
    font-size: 20px;
    padding-top: 100px;
    margin-left: 150px;
}


/* FIN ESTILOS CABECERA */



/* ESTILOS MENÚ NAVEGACIÓN */
nav{
	border:5px solid black;
	height: fit-content;
	width:100%;
	background-color: black;
}

nav ul li{
	list-style:none;
	border:5px solid white;
	width:10%;
	display: inline-block;
	font-size:20px;
	margin-right:10px;
}

nav ul li a{
	text-decoration: none;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cajainicioNav{
	text-align: center;
	background-color: red;
}

.cajaperfilNav{
	text-align: center;
	background-color: orange;
}

.cajachatNav{
	text-align: center;
	height: 100%;
	background-color: rgb(255, 255, 98);
}

.cajaforoNav{
	text-align: center;
	height: 100%;
	background-color: lightgreen;
}

.cajanoticiasNav{
	text-align: center;
	height: 100%;
	background-color: lightskyblue;
}

.cajacalendarioNav{
	text-align: center;
	height: 100%;
	background-color: rgb(54, 141, 170);
}

.cajatiendaNav{
	text-align: center;
	height: 100%;
	background-color: rgb(209, 88, 209);
}

.cajatusjuegosNav{
	text-align: center;
	height: 100%;
	background-color: salmon;
}
/* FIN ESTILOS MENÚ NAVEGACIÓN */